<div class="hero">
    <div class="flex-block-wrapper">
        <h1>WELCOME TO SHADERWIT.CH</h1>
        <div class="box notices cstyle primary">
            <div class="box-label" style="text-align: left"><i class="fa-fw fas fa-cat"></i> Shader Witch [ shay-der wich ]</div>
            <div class="box-content" style="text-align: left">
                <p style="text-align: left"><em>noun</em></p>
                1. A mysterious being that practices the dark arts of manipulating pixels, creating shaders and manifesting chaos in a given renderer.
            </div>
        </div>
        <p>        
            Shaderwit.ch is a website by Alessa "Codekitten" Baker on the topic of that spooky thing the Unreal Engine community has
            deemed Shader Witchcraft, "Black Magic", or that seemingly incredibly difficult mathematics topic to render graphics
            that everyone wants to learn, but no one wants to touch - I hope to make this easier for you.
        </p>
        
        <a href="/about"><button>Read More</button></a>
    </div>
</div>